In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
import pandas as pd
df = pd.read_csv("C://Users//BALU/ToyotaCorolla.csv", encoding='latin1')

In [3]:
df

,Id,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,...,Central_Lock,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Tow_Bar
0,1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,...,1,1,1,0,0,0,1,0,0,0
1,2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,...,1,0,1,0,0,0,1,0,0,0
2,3,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,...,0,0,1,0,0,0,1,0,0,0
3,4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,...,0,0,1,0,0,0,1,0,0,0
4,5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,Diesel,90,0,...,1,1,1,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1431,1438,TOYOTA Corolla 1.3 16V HATCHB G6 2/3-Doors,7500,69,12,1998,20544,Petrol,86,1,...,1,1,1,0,1,1,1,0,0,0
1432,1439,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,10845,72,9,1998,19000,Petrol,86,0,...,0,0,1,0,0,1,1,0,0,0
1433,1440,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,8500,71,10,1998,17016,Petrol,86,0,...,0,0,1,0,0,0,1,0,0,0
1434,1441,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,7250,70,11,1998,16916,Petrol,86,1,...,0,0,0,0,0,0,1,0,0,0
1435,1442,TOYOTA Corolla 1.6 LB LINEA TERRA 4/5-Doors,6950,76,5,1998,1,Petrol,110,0,...,0,0,1,0,0,0,0,0,0,0

In [4]:
df.describe()

,Id,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,HP,Met_Color,Automatic,cc,...,Central_Lock,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Tow_Bar
count,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.00000,...,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000
mean,721.555014,10730.824513,55.947075,5.548747,1999.625348,68533.259749,101.502089,0.674791,0.055710,1576.85585,...,0.580084,0.561978,0.977716,0.146240,0.256964,0.300139,0.770195,0.204735,0.145543,0.277855
std,416.476890,3626.964585,18.599988,3.354085,1.540722,37506.448872,14.981080,0.468616,0.229441,424.38677,...,0.493717,0.496317,0.147657,0.353469,0.437111,0.458478,0.420854,0.403649,0.352770,0.448098
min,1.000000,4350.000000,1.000000,1.000000,1998.000000,1.000000,69.000000,0.000000,0.000000,1300.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,361.750000,8450.000000,44.000000,3.000000,1998.000000,43000.000000,90.000000,0.000000,0.000000,1400.00000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,721.500000,9900.000000,61.000000,5.000000,1999.000000,63389.500000,110.000000,1.000000,0.000000,1600.00000,...,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,1081.250000,11950.000000,70.000000,8.000000,2001.000000,87020.750000,110.000000,1.000000,0.000000,1600.00000,...,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000
max,1442.000000,32500.000000,80.000000,12.000000,2004.000000,243000.000000,192.000000,1.000000,1.000000,16000.00000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
df1 = df[["Price","Age_08_04","KM","HP","cc","Doors","Gears","Quarterly_Tax","Weight"]]

In [6]:
df1

      Price  Age_08_04     KM   HP    cc  Doors  Gears  Quarterly_Tax  Weight
0     13500         23  46986   90  2000      3      5            210    1165
1     13750         23  72937   90  2000      3      5            210    1165
2     13950         24  41711   90  2000      3      5            210    1165
3     14950         26  48000   90  2000      3      5            210    1165
4     13750         30  38500   90  2000      3      5            210    1170
...     ...        ...    ...  ...   ...    ...    ...            ...     ...
1431   7500         69  20544   86  1300      3      5             69    1025
1432  10845         72  19000   86  1300      3      5             69    1015
1433   8500         71  17016   86  1300      3      5             69    1015
1434   7250         70  16916   86  1300      3      5             69    1015
1435   6950         76      1  110  1600      5      5             19    1114

[1436 rows x 9 columns]

In [7]:
X = df1.drop("Price", axis=1)
Y = df1.Price

In [8]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.30)

In [9]:
# Apply multiple Linear Regression Model
reg = LinearRegression()
reg.fit(X_train,Y_train)

LinearRegression()

In [10]:
print(X_train.shape, X_test.shape, Y_train.shape, Y_test.shape)

(1005, 8) (431, 8) (1005,) (431,)

In [11]:
# Generate Prediction on test set
reg_y_pred = reg.predict(X_test)

In [12]:
# Calculating Mean Squared Error MSE
mean_squared_error = np.mean((reg_y_pred - Y_test)**2)
print("Mean Squared Error on test set : ", mean_squared_error)

Mean Squared Error on test set :  1781402.8251007674

In [13]:
# putting together the coefficient and their corresponding variables names
reg_coefficient = pd.DataFrame()
reg_coefficient['columns'] = X_train.columns
reg_coefficient['coefficient Estimate'] = pd.Series(reg.coef_)
print(reg_coefficient)

         columns  coefficient Estimate
0      Age_08_04           -127.030613
1             KM             -0.019557
2             HP             29.153773
3             cc             -0.014110
4          Doors              0.966396
5          Gears            532.464183
6  Quarterly_Tax              2.783064
7         Weight             14.808048

In [14]:
# import ridge regression from sklearn library
from sklearn.linear_model import Ridge

# Train model 
ridge = Ridge(alpha=2)
ridge.fit(X_train, Y_train)
y_pred = ridge.predict(X_test)

# calculate mean squared error

mean_squared_error_ridge = np.mean((y_pred - Y_test)**2)
print(mean_squared_error_ridge)

# putting together the coefficient and their corresponding variables names
ridge_reg_coefficient = pd.DataFrame()
ridge_reg_coefficient['columns'] = X_train.columns
ridge_reg_coefficient['coefficient Estimate'] = pd.Series(ridge.coef_)
print(ridge_reg_coefficient)

1781774.04272145
         columns  coefficient Estimate
0      Age_08_04           -127.044609
1             KM             -0.019540
2             HP             29.259401
3             cc             -0.014240
4          Doors             -0.238909
5          Gears            504.597205
6  Quarterly_Tax              2.791783
7         Weight             14.809180

In [15]:
y_pred_tr = ridge.predict(X_train)
y_pred_te = ridge.predict(X_test)

In [17]:
from sklearn import metrics
print("RMSE FOR TRAIN DATA : ", np.sqrt(metrics.mean_squared_error(Y_train, y_pred_tr)))
print("R2 for train data", metrics.r2_score(Y_train, y_pred_tr))

print("RMSE FOR TEST DATA : " , np.sqrt(metrics.mean_squared_error(Y_test, y_pred_te)))
print("R2 for test data", metrics.r2_score(Y_test, y_pred_te))

RMSE FOR TRAIN DATA :  1348.9767291742496
R2 for train data 0.8603648356743641
RMSE FOR TEST DATA :  1334.831091457436
R2 for test data 0.8668900449293809

In [20]:
# model 
from sklearn.linear_model import ElasticNet

# Train the model
e_net = ElasticNet(alpha=.01, l1_ratio=.5)
e_net.fit(X_train, Y_train)

# calculate the prediction and mean square error 
y_pred_elastic = e_net.predict(X_test)
Mean_squared_error = np.mean((y_pred_elastic - Y_test)**2)
print("mean squared error on test set", Mean_squared_error)

# putting together the coefficient and their corresponding variables names
elastic_coefficient = pd.DataFrame()
elastic_coefficient['columns'] = X_train.columns
elastic_coefficient['coefficient Estimate'] = pd.Series(e_net.coef_)
print(elastic_coefficient)

mean squared error on test set 1782325.1599811784
         columns  coefficient Estimate
0      Age_08_04           -127.062964
1             KM             -0.019518
2             HP             29.399957
3             cc             -0.014413
4          Doors             -1.828176
5          Gears            467.478317
6  Quarterly_Tax              2.803425
7         Weight             14.810627